*, *:before, *:after {
    box-sizing: border-box;
  }
  
  html {
    font-size: 100px;
    height: 100%;
  }
  
  body {
    font-family: "PingFang SC", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    height: 100%;
    font-size: 12px;
  }

  #app {
    height: 100%;
    overflow: hidden;
  }
  
  ul, ol, li, dl, dd {
    list-style: none;
  }
  
  a, a:hover, a:active, a:link, a:visited {
    text-decoration: none !important;
    outline: 0;
  }
  
  a:hover, a:active, a:link, a:visited {
    color: #fff;
  }
  
  img {
    border: none;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    text-align: center;
    margin: 0;
    display: table-cell;
    height: 0.5rem;
  }
  
  td {
    height: 0.5rem;
    margin: 0;
    display: table-cell;
    text-align: center;
  }
  
  button {
    border: none;
  }