#login {
    .login-content {
        top: 50%;
        left: 50%;
        position: absolute;
        .name-box {
            margin-bottom: 15px;
        }
        .pwd-box {
            margin-bottom: 15px;
        }
        .login-input {
            width: 300px; 
            height: @input_height;  
            padding-left: @input_padding_left;
        }
        .login-btn {
            color: @white;
            height: @height;
            line-height: @height;
            text-align: center;
            background-color: @blue;
        }
    }
}