/*  每个页面的css引入处  */
@import 'pages/login.less';
@import 'pages/index.less';
@import 'pages/common.less';


/* 默认没加前缀就是base，基础值  */
/* color */
@white: #fff;
@black: #000;
@blue: #6da8f8;
@base_background_color:#f5f7f9;
@header_background_color: #2a323d;

/* height  */
@height: 30px;
@input_height: 35px;
@input_padding_left: 3px;


/* btn */
@login_btn_height: 300px;

/* font  */
@font_size: 14px;
@webSite_title: 20px;   //网站大标题

